<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="resources.ExtentReporterNG"></listener>
	</listeners>
	<test thread-count="5" name="Holofy-APIs">
		<classes>

			<class name="HolofyAPIs.AppLogin" />
			<!-- <class name="HolofyAPIs.ForgotPasswordWithNumber" />
			<class name="HolofyAPIs.ForgotpasswordWithEmail" />
			<class name="HolofyAPIs.GetSpaceList" />
			<class name="HolofyAPIs.CreateSpace" />
			<class name="HolofyAPIs.EditCreatedSpace" />
			<class name="HolofyAPIs.getProductList" />
			<class name="HolofyAPIs.AddProductToSpace" />
			<class name="HolofyAPIs.RemoveCreateSpace" />
			<class name="HolofyAPIs.EditProduct" />
			<class name="HolofyAPIs.RemoveProductFromSpace" /> -->


		</classes>
	</test> <!-- Holofy-APIs -->
</suite> <!-- Suite -->
